body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4265 {
  position:absolute;
  left:50px;
  top:82px;
  width:1490px;
  height:925px;
  opacity:0.7;
}
#u4266 {
  position:absolute;
  left:2px;
  top:454px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4267 {
  position:absolute;
  left:50px;
  top:50px;
  width:1490px;
  height:35px;
}
#u4268 {
  position:absolute;
  left:2px;
  top:10px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4269 {
  position:absolute;
  left:1508px;
  top:60px;
  width:15px;
  height:15px;
}
#u4270 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4271 {
  position:absolute;
  left:60px;
  top:60px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4272 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u4273 {
  position:absolute;
  left:60px;
  top:170px;
  width:127px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u4274 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4276 {
  position:absolute;
  left:77px;
  top:227px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4277 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4276_ann {
  position:absolute;
  left:101px;
  top:223px;
  width:1px;
  height:1px;
}
#u4278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4278 {
  position:absolute;
  left:60px;
  top:230px;
  width:15px;
  height:15px;
}
#u4279 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4280 {
  position:absolute;
  left:1762px;
  top:333px;
  width:5px;
  height:16px;
}
#u4281 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u4282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u4283 {
  position:absolute;
  left:136px;
  top:135px;
  width:318px;
  height:1px;
}
#u4284 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4286 {
  position:absolute;
  left:136px;
  top:135px;
  width:300px;
  height:1px;
}
#u4287 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u4288 {
  position:absolute;
  left:418px;
  top:117px;
  width:10px;
  height:8px;
}
#u4289 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4290 {
  position:absolute;
  left:159px;
  top:112px;
  width:277px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4291 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u4292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4292 {
  position:absolute;
  left:60px;
  top:114px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4293 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:123px;
}
#u4295 {
  position:absolute;
  left:60px;
  top:307px;
  width:1225px;
  height:123px;
}
#u4296 {
  position:absolute;
  left:2px;
  top:54px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:112px;
}
#u4297 {
  position:absolute;
  left:1280px;
  top:308px;
  width:105px;
  height:112px;
}
#u4298 {
  position:absolute;
  left:2px;
  top:48px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u4299 {
  position:absolute;
  left:576px;
  top:351px;
  width:51px;
  height:15px;
}
#u4300 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4301 {
  position:absolute;
  left:60px;
  top:280px;
  width:135px;
  height:20px;
}
#u4302 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
